body {
    margin: 0;
}


.header {
    background-color: black;
}

h1 {
    color: #32b9cd;
    margin: 0;
}

.navbar {
    color: rgb(255, 255, 0);
}

.container {
    width: 80%;
    border: 1px solid pink;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
    
    
}